footer {
	background-color: #f6f6f2;
	text-align: center;
	height: 60px;
	color:white;
	margin-top:20px;
	padding-top: 20px;
}

.right 	{
	float: right;
	margin-right: 5px;
}

.jumbotron {
	height: 290px;
}

.footer-text {
	padding-top: 15px;
}

.left-margin {
	margin: 10px 0 15px 25px;
}

.facebook_img{
	margin-left:10px;
}


.padding-10 {
	padding-right: 15px
}
